{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Expatriates{% endblock %}
{% block body %}

 <!-- Page Wrapper -->
 <div class="page-wrapper">
			
    <!-- Page Content -->
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    {{ utils.flashed_messages() }}    
                    <h3 class="page-title">Expatriates </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Admin</li>
                    </ul>
                </div>
           <div class="view-icons">
                    <a href="{{ url_for('admin.list_expart_view') }}" class="grid-view btn btn-link"><i class="fa fa-th"></i></a>
                    <a href="{{ url_for('admin.list_expatriates') }}" class="list-view btn btn-link active"><i class="fa fa-bars"></i></a>
                </div> 
                
                <div class="col-auto float-right ml-auto">
                    <a href="{{ url_for('admin.add_employee') }}"class="btn add-btn" ><i class="fa fa-plus"></i> Add Expatriates</a>
                </div>
                
            </div>
        </div>
        <!-- /Page Header -->
        
        <!-- Leave Statistics -->
        <div class="row">
            <div class="col-md-3">
                <div class="stats-info">
                    <h6>Score Cards</h6>
                    <h4>12 / 60</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-info">
                    <h6>Expired Documents</h6>
                    <h4>8 <span>Today</span></h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-info">
                    <h6>Active Documents</h6>
                    <h4>0 <span>Today</span></h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-info">
                    <h6>Grace Period</h6>
                    <h4>12</h4>
                </div>
            </div>
        </div>
        <!-- /Leave Statistics -->
        
        <!-- Search Filter -->
        <div class="row filter-row">
           <div class="col-sm-4 col-md-4">  
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Employee Name</label>
                </div>
           </div>

           <div class="col-sm-4 col-md-4">  
            <div class="form-group form-focus">
                <input type="text" class="form-control floating">
                <label class="focus-label">Serial Number</label>
            </div>
       </div>
          
           <div class="col-sm-4 col-md-3">  
                <a href="#" class="btn btn-success btn-block"> Search </a>  
           </div>     
        </div>
        <!-- /Search Filter -->
       
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        {% if clients %}
                                        <table class="table table-striped custom-table mb-0 datatable">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Employee Name</th>
                                                    <th>Employee ID</th>
                                                    <th>Position</th>
                                                    <th>Email</th>                                        
                                                    <th>Birthday</th>
                                                    <th class="text-right">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>                           
                                                 
                                        {% for employee in clients %}
                        
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="{{ url_for('admin.show_employee', id=employee.id) }}" class="avatar"><img alt="" src="/static/passports/{{employee.passport_pic }} "></a>
                                    <a href="#"> </a>
                                </h2>
                            </td>
                            <td>{{  employee.first_name }}  {{  employee.last_name }} </td>
                            <td>{{  employee.expat_id }}</td>
                            {% if employee.laps.expat_id == None %}
                            <td> add position </td>
                            {%else%}
                            <td>{{ employee.laps.runner_name }} </td>
                            {% endif %}
                            <td >{{ employee.email }}  </td>
                            <td><a href="" class="btn btn-white btn-sm btn-rounded ">{{ employee.get_bday }}  </a>  </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                       

                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add_passport{{ employee.id }}"><i class="fa fa-users m-r-5"></i> add passport</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add_cerpac{{ employee.id }}"><i class="fa fa-users m-r-5"></i> add cerpac</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add_emergency{{ employee.id }}"><i class="fa fa-users m-r-5"></i> add emergency</a>
                                       
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                    </table>

                    
                </div>
            </div>
        </div>
    </div>
   
    <!-- /Page Content -->
    <!-- This sections helps us add Passport, Cerpac and   Emergency Contact through Modal Form-->
    <!-- Passport -->

<!-- Immigration Account Modal -->

    
<!-- Cerpac form for modal form-->
 <!-- Add Cerpac Card Modal -->
 
{% for employee in clients %}
   <div class="modal custom-modal fade" id="add_cerpac{{ employee.id }}"  role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                 <h2 href="#" class="avatar"><img alt="" src="/static/passports/{{employee.passport_pic }} "></h2>
                    <h3> Add Cerpac  Card</h3>
                    <p>Please input Cerpac Card Details Correctly </p></div>                 
                <form method="POST" action="{{ url_for('admin.add_cerpac', id=employee.id ) }}" enctype="multipart/form-data"> 
                      	<div class="row">

                      	<div class="form-group col-sm-6">
						<label>Cerpac Number [CNN] <span class="text-danger">*</span></label>
						<input class="form-control " type="text" name="ccn_number">
						</div>
                        <div class="form-group col-sm-6">
                        <label> Reference Number <span class="text-danger">*</span></label>
						<input class="form-control " type="text" name="cerpac_serial_no">
						</div>
						<div class="form-group col-sm-6">
						<label>Effective Date <span class="text-danger">*</span></label>
						<input class="form-control " type="date" name="cerpac_issue_date">
						</div>
						<div class="form-group col-sm-6">
						<label>Expiry Date <span class="text-danger">*</span></label>
						<input class="form-control " type="date" name="expired_date">
						</div>
                        </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-primary submit-btn" type="submit" name="submit" value="Submit">Submit</button>
                        </div>                        
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Decline</a>
                        </div>
                    </div>
                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- \Cerpac modal form -->
 <!-- Add passport Datapage  Modal -->
 {% for employee in clients %}
   <div class="modal custom-modal fade" id="add_passport{{ employee.id }}" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                <h2 href="#" class="avatar"><img alt="" src="/static/passports/{{employee.passport_pic }} "></h2>
                    <h3>Add Passport  Details </h3>
                    <p>Please input passport details Correctly </p>
                </div>       
                
                  <form method="POST" action="{{ url_for('admin.add_passport', id=employee.id ) }}" enctype="multipart/form-data">
                 
                 	<div class="row">
                      	<div class="form-group col-sm-6">
						<label>Passport Number <span class="text-danger">*</span></label>
						<input class="form-control " type="text" name="passport_no">
						</div>
                        <div class="form-group col-sm-6">
                        <label> Nationality <span class="text-danger">*</span></label>
						<input class="form-control " type="text" name="nationality">
						</div>
						<div class="form-group col-sm-6">
						<label>Issue Date <span class="text-danger">*</span></label>
						<input class="form-control " type="date" name="passport_issue_date">
						</div>
						<div class="form-group col-sm-6">
						<label>Expiry Date <span class="text-danger">*</span></label>
						<input class="form-control " type="date" name="passport_exp_date">
						</div>
                        </div>

                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-primary submit-btn" type="submit" name="submit" value="Submit">Submit</button>
                        </div>
                        
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Decline</a>
                        </div>
                    </div>
                    </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- \end of passport  Card-->

{% for employee in clients %}
 <!-- Add Emergency Datapage  Modal -->
   <div class="modal custom-modal fade" id="add_emergency{{ employee.id }}" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                <h2 href="#" class="avatar"><img alt="" src="/static/passports/{{employee.passport_pic }} "></h2>
                    <h3>Add Emergency Contact  Deatails </h3>
                    <p>Please who do we call? in case of Emergency </p>
                </div>             
                <form method="POST" action="{{ url_for('admin.add_emergency', id=employee.id ) }}" enctype="multipart/form-data">     
                 	<div class="row">
                      	<div class="form-group col-sm-6">
						<label>Contact Name <span class="text-danger"></span></label>
						<input class="form-control " type="text" name="name">
						</div>

                        <div class="form-group col-sm-6">
                  <label for="tags"></label>
                  						<label>Relationship <span class="text-danger">*</span></label>

                  <input class="form-control " type="text" name="relationship">
                  
		
						</div>
						<div class="form-group col-sm-6">
						<label>Phone Number <span class="text-danger">*</span></label>
						<input class="form-control " type="text" name="phone">
						</div>

						<div class="form-group col-sm-6">
						<label> Contact Adress <span class="text-danger">*</span></label>
                        <textarea class="form-control" id="textAreaExample1" rows="2" name="address"></textarea>
						</div>
                        </div>
                        <div class="modal-btn delete-action">
                        <div class="row">
                        <div class="col-6">
                            <button class="btn btn-primary submit-btn" type="submit" name="submit" value="Submit">Submit</button>
                        </div>                        
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Decline</a>
                        </div>
                    </div>
                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- \end of Emergency Details --> 



 <!-- This sections closes the modal button for tne three add-ons-->
  {% else %}

   <!-- /Page Wrapper -->
  {% endif %}

</div>
<!-- /Main Wrapper -->

{% endblock %}