<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='img/favicon.png') }}"
    />

    <!-- Bootstrap CSS -->
    {% assets "main_styles" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
	{% endassets %}
	<style>.list-group-item {
    border: none;
}</style>
	
  </head>
  <body class="account-page">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <div class="account-content">
        <a
          href="{{ url_for('home.homepage') }}"
          class="btn btn-primary apply-btn"
          >Switch Back</a
        >
        <div class="container">
          <!-- Account Logo -->
          <div class="account-logo">
            <a href="{{ url_for('home.homepage') }}"
              ><img
                src="{{ url_for('static', filename='img/logo2.png') }}"
                alt="Expart Technologies"
            /></a>
          </div>
          <!-- /Account Logo -->
          {% import "bootstrap/utils.html" as utils %} {% import
          "bootstrap/wtf.html" as wtf %}
          <div class="account-box">
            <div class="account-wrapper">
              <h3 class="account-title">Login</h3>
              <p class="account-subtitle">Access to Briefkase Application</p>
              {{ utils.flashed_messages() }}
              <!-- Account Form -->
              <form action="" method="post" class="form" role="form">
                <div class="form-group">
                  {{ form.csrf_token() }}
                  <!---	<label>Email Address</label> -->
                  {{ wtf.form_field(form.email, class='form-control',
                  Placeholder='Email Address')}}
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <!---	<label>Password</label>-->
                    </div>
                    <div class="col-auto">
                      <a
                        class="text-muted"
                        href="{{ url_for('auth.reset_password_request') }}"
                      >
                        Forgot password?
                      </a>
                    </div>
                  </div>
                  {{ wtf.form_field(form.password, class='form-control',
                  placeholder='Passwords') }}
				</div>
				
				<div class="form-group">
                <div class="row ">
					<div class="col">
                  <ul class="list-group notification-list row">
                    <li class="list-group-item col-md-7">
                      remember me
                      <div class="status-toggle">
                        <input
                          type="checkbox"
                          id="staff_module"
                          class="check"
                          name="remember"
                        />
						<label for="staff_module" class="checktoggle"></label>
						</div>
					  </div>
					  </div>
                    </li>
                  </ul>
                </div>

                 <div class="form-group text-center">
                  <button class="btn btn-primary account-btn" type="submit">
                    Login
                  </button>
                </div>
                <div class="account-footer">
                  <p>
                    Don't have an account yet?
                    <a href="#">Register</a>
                  </p>
                </div>
              </form>
              <!-- /Account Form -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <!-- Bootstrap Core JS -->
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Slimscroll JS -->
    <script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
