{% import "bootstrap/utils.html" as utils %}
{% extends "layout.html" %}
{% block title %}Welcome to brvcase {% endblock %}
{% block body %}


<body class="is-theme-core">
    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <div class="hero is-app-grey is-fullheight" data-switcher-visible="">
{% import "bootstrap/utils.html" as utils %}
       
        <!-- Hero image -->
        <div id="main-hero" class="hero-body">
      
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-6 is-offset-3">
                        <!-- Login form -->
                        <div id="login-card" class="animated preFadeInLeft fadeInLeft">
                            <div class="flex-card clean-login-card">
                                <h2>{{title}}</h2>
                                  {{ utils.flashed_messages() }}
                                <form action="" method="post" class="form" role="form">
                                    <div class="control-material is-primary">
                                        <input class="material-input" 
                                        type="text"
                                        name = "email" 
                                        required="">
                                        <span class="material-highlight"></span>
                                        <span class="bar"></span>
                                        <label>Email</label>
                                    </div>

                                    <div class="mt-20">
                                        <button class="button button-cta btn-align primary-btn is-fullwidth raised no-lh"
                                        type="submit"
                                        name="submit">request password</button>
                                    </div>
                                </form>
                            </div>
                            <p class="has-text-centered pt-20 pb-20">
  
<a id="show-recover" class = "no-account is-primary" <p>Remember your password? <a href="{{ url_for('auth.login') }}">Login  here</a></p>
                            </p>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    
        
    <!-- /Side navigation -->
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>
    
    </div> <!-- Bulchat Button -->
    <div id="bulchat" class="open">
        <div class="chat-button open g-item"></div>
    
         
        </div>
    </div>
    {% endblock %}