{% import "bootstrap/utils.html" as utils %}
{% extends "layout.html" %}
{% block title %}Welcome to brvcase {% endblock %}
{% block body %}

<body class="is-theme-core">
    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <div class="hero is-app-grey is-fullheight" data-switcher-visible="">

       
        <!-- Hero image -->
        <div id="main-hero" class="hero-body">
      
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-6 is-offset-3">
                        <!-- Login form -->
                        <div id="login-card" class="animated preFadeInLeft fadeInLeft">
                            <div class="flex-card clean-login-card">
                                <h2>{{title}}</h2>
                        
                            <p style="color:red;text-align:center;"> {{ utils.flashed_messages() }} </p>
                    
                                            
                                  
                 <form action="" method="post" class="form" role="form">
                    <div class="component-block">
                                
                    <div class="field">
                        <div class="control">
                            <!-- Medium -->
                            <input class="input is-rounded is-medium" 
                            type="text" 
                            placeholder="Username"
                            name="username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <!-- Medium -->
                            <input class="input is-rounded is-medium" 
                            type="text" 
                            placeholder="Email Address"
                            name="email">
                        </div>
                    </div>
                       <div class="mt-20">
                         <button class="button button-cta     
                                        btn-align is-fullwidth
                            primary-btn
                            btn-outlined
                            is-bold
                            rounded
                            raised
                            no-lh" type ="submit" name="submit">Get started now</button>
                                    </div>
                                </form>
                            </div>
                          <!--  <p class="has-text-centered pt-20 pb-20">
                                <a id="show-recover" class="no-account is-primary" href="{{ url_for('auth.reset_password_request') }}">Lost your password?</a>
                            </p> -->
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    
        
    <!-- /Side navigation -->
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>
    
    </div> <!-- Bulchat Button -->
    <div id="bulchat" class="open">
        <div class="chat-button open g-item"></div>
    
         
        </div>
    </div>
    {% endblock %}