{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <!-- Page Wrapper -->
 <div class="page-wrapper">
			
    <!-- Page Content -->
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    {{ utils.flashed_messages() }}    
                    <h3 class="page-title">Passport Documents</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Admin</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
              
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <!-- Leave Statistics -->
        <div class="row">
            <div class="col-md-3">
                <div class="stats-info">
                    <h6>Score Cards</h6>
                    <h4>12 / 60</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-info">
                    <h6>Expired Documents</h6>
                    <h4>8 <span>Today</span></h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-info">
                    <h6>Active Documents</h6>
                    <h4>0 <span>Today</span></h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-info">
                    <h6>Grace Period</h6>
                    <h4>12</h4>
                </div>
            </div>
        </div>
        <!-- /Leave Statistics -->
        
        <!-- Search Filter -->
        <div class="row filter-row">
           <div class="col-sm-4 col-md-4">  
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating" readonly>
                    <label class="focus-label">Expatriates Passports</label>
                </div>
           </div>

           <div class="col-sm-4 col-md-4">  
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" readonly>
                <label class="focus-label">Dependent Passports</label>
            </div>
       </div>
          
           <div class="col-sm-4 col-md-3">  
                           <div class="btn-group btn-group-sm">
								<form action="" method="post" enctype="multipart/form-data">
								<select class="form-select btn btn-white btn-block" 
								aria-label="Default select example"
								type="submit"
								name="pick"
								onchange="this.form.submit()" >
								<option selected >Select view</option>
								<option value="1">Expatriates</option>
								<option value="2">Dependents</option>
								</select>   																
								</form>							 
								</div>
                
           </div>     
        </div>
        <!-- /Search Filter -->
        
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">

                            {% if passports %}
                                        <table class="table table-striped custom-table mb-0 datatable">
                                            <thead>
                                                <tr>
                                                    <th>Passport Name</th>
                                                    <th>Passport Number</th>
                                                    <th>Gender </th>
                                                    <th>Issue date</th>
                                                    <th>Days Left</th>
                                                    <th class="text-center">Status</th>
                                                    <th class="text-right">Actions</th>
                                                </tr>
                                            </thead>
                                                    <tbody>
                            {% for passport, dependent in passports %}
                        <tr>
                            <td>
                                    {% if not passport.dependent %}
                                <h2 class="table-avatar">
                                    <a href="#" class="avatar"><img alt="" src="/static/passports/{{passport.employee.passport_pic }} "></a>
                                    <a href="#"> {{ passport.employee.first_name }}  {{ passport.employee.last_name }}</a>
                                </h2>                        
                            {% else %}                          
                                <h2 class="table-avatar">
                                    <a href="#" class="avatar"><img alt="" src="/static/passports/{{passport.dependent.passport_pic }} "></a>
                                    <a href="#"> {{ passport.dependent.name }}  </a>
                                </h2>
                            </td>
                            {% endif %}
                            <td>{{ passport.passport_no }}</td>
                            <td>{{ passport.employee.gender}} </td>
                            <td>{{ passport.passport_issue_date.strftime('%B %d, %Y') }}</td>
                      
                            
                            <td><a href="" class="btn btn-white btn-sm btn-rounded ">{{ passport.remaining_days }} Days </a>  </td>
                            
                            {% if  passport.renew_status == 'Active' %}
                            <td class="text-center">
                                  <a class="btn btn-white btn-sm btn-rounded " href="#" data-toggle="dropdown" aria-expanded="false">
                                     <i class="fa fa-dot-circle-o text-success"></i> Document Good! </a>
                                    </td>
                                    {%  elif  passport.renew_status =="warning" %}
                                    <td class="text-center">
                                     <a class="btn btn-warning btn-sm btn-rounded " href="#" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-warning"></i> check passport!  </a>  
                                    </td>
                                {%  else %}  
                                <td class="text-center">
                                    <a class="btn btn-danger btn-sm btn-rounded " href="#" data-toggle="dropdown" aria-expanded="false">
                                     <i class="fa fa-dot-circle-o text-danger"></i> passport expired! </a>
                                    </td>
                                 
                                {% endif %}
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        
                                        <a class="dropdown-item" href="{{ url_for('admin.edit_passport', id=passport.id) }}" ><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" href="{{ url_for('admin.delete_passport', id=passport.id) }}" ><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>

                    </table>

                    {% else %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- /Page Content -->
    
  
   
<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->


{% endblock %}