<!-- index.html-->

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}

<!-- Page Wrapper -->
<div class="page-wrapper">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
    {% if current_user.active == False %}
           <a href = "{{url_for('auth.welcome_2fa')}}"><span  class="badge bg-inverse-primary"><h2> Click here to activate your </span>  Account  <span> with Google  one time Authenticator </span></h2> </a>
        {% else %}
          <h3 class="page-title">{{current_user.vendor.company }}</h3>
         Welcome  <span class="badge bg-inverse-success">{{current_user.role.name}}</span>
          {{ message }} </span>
          <ul class="breadcrumb">
            <li class="breadcrumb-item active">{{current_user.first_name}} {{current_user.last_name}}</li>
            <span></span>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->


    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="card dash-widget">
          <div class="card-body">
            <span class="dash-widget-icon">
              <i class="fa fa-id-card-o"></i
            ></span>
            <div class="dash-widget-info">
            <h2>{{passport}}</h2>
              <span>Passports</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="card dash-widget">
          <div class="card-body">
            <span class="dash-widget-icon"
              ><i class="fa fa-building" aria-hidden="true"></i
            ></span>
            <div class="dash-widget-info">
              <h3>{{companies}}</h3>
              <span>Companies</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="card dash-widget">
          <div class="card-body">
            <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
            <div class="dash-widget-info">
              <h3>{{cerpac}}</h3>
              <span>Cerpacs</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="card dash-widget">
          <div class="card-body">
            <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
            <div class="dash-widget-info">
              <h3>{{employee}}</h3>
              <span>Clients</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 text-center">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Document Summary</h3>
                <div id="bar-charts"></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Tasks Overview</h3>
                <div id="line-charts"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card-group m-b-30">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between mb-3">
                <div>
                  <span class="d-block">Quota Positions</span>
                </div>
                <div>
                  <span class="text-success">+{{percentage}}%</span>
                </div>
              </div>
              <h3 class="mb-3">{{positions}}</h3>
              <div class="progress mb-2" style="height: 5px">
                <div
                  class="progress-bar bg-primary"
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="40"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="mb-0">Quota position Available  {{position_not_enrolled }}</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between mb-3">
                <div>
                  <span class="d-block">Emergency contacts</span>
                </div>
                <div>
                  <span class="text-success">+12.5%</span>
                </div>
              </div>
              <h3 class="mb-3">{{ emergency }}</h3>
              <div class="progress mb-2" style="height: 5px">
                <div
                  class="progress-bar bg-primary"
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="40"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="mb-0">
                No of Employees <span class="text-muted">{{ employee }}</span>
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between mb-3">
                <div>
                  <span class="d-block">Renewal Task</span>
                </div>
                <div>
                  <span class="text-success">+2.8%</span>
                </div>
              </div>
              <h3 class="mb-3">{{renew}}</h3>
              <div class="progress mb-2" style="height: 5px">
                <div
                  class="progress-bar bg-primary"
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="40"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="mb-0">
                Previous Month <span class="text-muted">{{renew}}</span>
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between mb-3">
                <div>
                  <span class="d-block">Approvals Task </span>
                </div>
                <div>
                  <span class="text-success">+55%</span>
                </div>
              </div>
              <h3 class="mb-3">{{approval}}</h3>
              <div class="progress mb-2" style="height: 5px">
                <div
                  class="progress-bar bg-primary"
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="40"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="mb-0">
                Previous Month <span class="text-muted">{{approval}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Statistics Widget -->
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-4 d-flex">
        <div class="card flex-fill dash-statistics">
          <div class="card-body">
            <h5 class="card-title">Statistics</h5>
            <div class="stats-list">
              <div class="stats-info">
                <p>
                  Today Leave <strong>4 <small>/ 65</small></strong>
                </p>
                <div class="progress">
                  <div
                    class="progress-bar bg-primary"
                    role="progressbar"
                    style="width: 31%"
                    aria-valuenow="31"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="stats-info">
                <p>
                  Pending Invoice <strong>15 <small>/ 92</small></strong>
                </p>
                <div class="progress">
                  <div
                    class="progress-bar bg-warning"
                    role="progressbar"
                    style="width: 31%"
                    aria-valuenow="31"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="stats-info">
                <p>
                  Completed Projects <strong>85 <small>/ 112</small></strong>
                </p>
                <div class="progress">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: 62%"
                    aria-valuenow="62"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="stats-info">
                <p>
                  Open Tickets <strong>190 <small>/ 212</small></strong>
                </p>
                <div class="progress">
                  <div
                    class="progress-bar bg-danger"
                    role="progressbar"
                    style="width: 62%"
                    aria-valuenow="62"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="stats-info">
                <p>
                  Closed Tickets <strong>22 <small>/ 212</small></strong>
                </p>
                <div class="progress">
                  <div
                    class="progress-bar bg-info"
                    role="progressbar"
                    style="width: 22%"
                    aria-valuenow="22"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-6 col-xl-4 d-flex">
        <div class="card flex-fill">
          <div class="card-body">
            <h4 class="card-title">Cabinet Statistics</h4>
            <div class="statistics">
              <div class="row">
                <div class="col-md-6 col-6 text-center">
                  <div class="stats-box mb-4">
                    <p>Total Files</p>
                    <h3>{{files}}</h3>
                  </div>
                </div>
                <div class="col-md-6 col-6 text-center">
                  <div class="stats-box mb-4">
                    <p>Total Folders</p>
                    <h3>{{folders}}</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="progress mb-4">
              <div
                class="progress-bar bg-purple"
                role="progressbar"
                style="width: 30%"
                aria-valuenow="30"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                30%
              </div>
              <div
                class="progress-bar bg-warning"
                role="progressbar"
                style="width: 22%"
                aria-valuenow="18"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                22%
              </div>
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: 24%"
                aria-valuenow="12"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                24%
              </div>
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                style="width: 26%"
                aria-valuenow="14"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                21%
              </div>
              <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: 10%"
                aria-valuenow="14"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                10%
              </div>
            </div>
            <div>
                {% for item in categories %}
              <p>
                <i class="fa fa-dot-circle-o text-purple mr-2"></i>{{item.categories}} <span class="float-right">166</span>
              </p>
              {% endfor %}
              <p class="mb-0">
                <a href="{{ url_for('admin.list_folders') }}"><i class="fa fa-dot-circle-o text-info mr-2"></i><strong> SEE MORE.. </strong></a>
                <span class="float-right"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-6 col-xl-4 d-flex">
        <div class="card flex-fill">
          <div class="card-body">
            <h4 class="card-title">
             Latest Positions <span class="badge bg-inverse-danger ml-2">2</span>
            </h4>
            {%if position_list %}
            {% for lap in position_list %}
            <div class="leave-info-box">
              <div class="media align-items-center">
              
                <a href="profile.html" class="avatar">                
                  <img alt="" src="/static/passports/{{lap.passport_pic }}"/></a>
                    
                <div class="media-body">
                <div class="text-sm my-0">{{lap.employee_name}}</div>
                 </div>
              </div>
              <div class="row align-items-center mt-3">
                <div class="col-6">
                  <h6 class="mb-0">{{lap.timestamp.strftime("%b %d %Y") }}</h6>
                  <span class="text-sm text-muted">{{lap.expat_id}}</span>
                </div>
                <div class="col-6 text-right">
                  <h4><span class="badge bg-inverse-success">{{lap.runner_name}}</span></h4>
                </div>
              </div>
            </div>
            {% endfor %}

            {% else%}
                        <div class="leave-info-box">
              <div class="media align-items-center">
                <a href="profile.html" class="avatar"
                  ><img alt="" src="static/img/user.jpg"
                /></a>
                <div class="media-body">
                  <div class="text-sm my-0">Anonymous</div>
                </div>
              </div>
              <div class="row align-items-center mt-3">
                <div class="col-6">
                  <h6 class="mb-0">--No available data --</h6>
                  <span class="text-sm text-muted"></span>
                </div>
                
              </div>
            </div>
            {% endif%}
            <div class="load-more text-center">
              <a class="text-dark" href="javascript:void(0);">Load More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Statistics Widget -->

    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="card card-table flex-fill">
          <div class="card-header">
            <h3 class="card-title mb-0">Cerpac Summary</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table custom-table mb-0">
                <thead>
                  <tr>
                    <th>Client Name</th>
                    <th>Days Left</th>
                    <th>Status</th>
                    <th class="text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
                 {% for cerpac in cerpac_list %}
                  <tr>
                                          <td>
                      <h2 class="table-avatar">
                      
                                   <h2 class="table-avatar">
                                        <a href="#" class="avatar"><img alt="" src="/static/passports/{{cerpac.employee.passport_pic }} "></a>
                                        <a href="#"> {{  cerpac.employee.first_name }}  {{  cerpac.employee.last_name }}</a>
                                    </h2>
                                </td>
                      </h2>
                    </td>
                    <td><a href="" class="btn btn-white btn-sm btn-rounded ">{{ cerpac.remaining_days }} Days </a>  </td>
                    
                  {% if  cerpac.renew_status == 'Active' %}
                  <td>
                            <li><span class="badge bg-inverse-success">Document Good!</span></li>
                                    {%  elif  cerpac.renew_status =="warning" %}</td>
                                  <td>  <li><span class="badge bg-inverse-warning">Check Cerpac!</span></li></td>
                                {%  else %}  
                               <td> <li><span class="badge bg-inverse-danger">Cerpac Expired!</span></li></td>
                                 
                                {% endif %}

                    <td class="text-right">
                      <div class="dropdown dropdown-action">
                        <a
                          href="{{ url_for('admin.list_cerpacs') }}"
                          class="action-icon dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><i class="material-icons">more_vert</i></a
                        >
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="{{ url_for('admin.list_cerpacs') }}"
                            ><i class="fa fa-pencil m-r-5"></i> view more</a
                          >
                         
                          >
                        </div>
                      </div>
                    </td>
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('admin.list_cerpacs') }}">View all Cerpac</a>
          </div>
        </div>
      </div>

            <div class="col-md-6 d-flex">
        <div class="card card-table flex-fill">
          <div class="card-header">
            <h3 class="card-title mb-0">Quota Summary</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table custom-table mb-0">
                <thead>
                  <tr>
                    <th>Compamy</th>
                    <th>Days Left</th>
                    <th>Status</th>
                    <th class="text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
                     {% for quota in quota_list %} 
                  <tr>
                                <td>
                                <h2 class="table-avatar">
                                    <a href="#" class="avatar"><img alt="" src="/static/logos/{{ quota.company.logo_image }}"></a>
                                    <a href="#"> {{quota.company.company_name}}</a>
                                </h2>
                            </td>
                      </h2>
                    </td>
                    <td><a href="" class="btn btn-white btn-sm btn-rounded ">{{ quota.remaining_days }} Days </a>  </td>
                    {% if  quota.renew_status == 'Active' %}
                            <td class="text-center">
                                  
                                     <span class="badge bg-inverse-success">Document Good!</span>
                                    </td>
                                    {%  elif  quota.renew_status =="warning" %}
                                    <td class="text-center">
                                     
                                    <span class="badge bg-inverse-warning">Check Quota!</span>  
                                    </td>
                                {%  else %}  
                                <td class="text-center">
                                    
                                     <span class="badge bg-inverse-danger">Quota Expired!</span>
                                    </td>
                                 
                                {% endif %}
                                                       
                    <td class="text-right">
                      <div class="dropdown dropdown-action">
                        <a
                          href="#"
                          class="action-icon dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><i class="material-icons">more_vert</i></a
                        >
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="{{ url_for('admin.list_quotas') }}"
                            ><i class="fa fa-pencil m-r-5"></i> more details</a
                          >
                         
                        </div>
                      </div>
                    </td>
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('admin.list_quotas') }}">View all quotas</a>
          </div>
        </div>

    </div>
  </div>
  <!-- /Page Content -->
</div>
<!-- /Page Wrapper -->
{% endif %}
{% endblock %}
