<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Brvcase :: Features</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

    <!--Core CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">    
    <link href="{{ url_for('static', filename='css/core.css') }}" rel="stylesheet">

</head>

<body class="is-theme-core">
    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <!-- Hero and nav -->
    <div class="hero is-relative is-theme-primary has-waves-bottom">

        <nav class="navbar navbar-wrapper navbar-fade navbar-light is-transparent">
            <div class="container">
                <!-- Brand -->
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{url_for('home.homepage')}}">

                        <img class="light-logo" src="{{ url_for('static', filename='img/logos/logo/bulkit-white.svg') }}" alt="">
                        <img class="dark-logo switcher-logo" src="{{ url_for('static', filename='img/logos/logo/bulkit-core.svg') }}" alt="">

                    </a>

                    <!-- Sidebar Trigger -->
                    <a id="navigation-trigger" class="navbar-item hamburger-btn" href="javascript:void(0);">
                        <span class="menu-toggle">
                            <span class="icon-box-toggle">
                                <span class="rotate">
                                    <i class="icon-line-top"></i>
                                    <i class="icon-line-center"></i>
                                    <i class="icon-line-bottom"></i>
                                </span>
                        </span>
                        </span>
                    </a>

                    <!-- Responsive toggle -->
                    <div class="custom-burger" data-target="">
                        <a id="" class="responsive-btn" href="javascript:void(0);">
                            <span class="menu-toggle">
                                <span class="icon-box-toggle">
                                    <span class="rotate">
                                        <i class="icon-line-top"></i>
                                        <i class="icon-line-center"></i>
                                        <i class="icon-line-bottom"></i>
                                    </span>
                            </span>
                            </span>
                        </a>
                    </div>
                    <!-- /Responsive toggle -->
                </div>

                <!-- Navbar menu -->
                <div class="navbar-menu">
                    <!-- Navbar Start -->
                    <div class="navbar-start">
                        <!-- Navbar item -->
                        <a class="navbar-item is-slide" href="{{url_for('home.features')}}">
                            Features
                        </a>
                        <!-- Navbar item -->
                        <a class="navbar-item is-slide" href="{{url_for('home.pricing')}}">
                            Pricing
                        </a>
                        <!-- Navbar item -->
                        <a class="navbar-item is-slide" href="{{url_for('auth.login')}}">
                            Login
                        </a>
                    </div>

                    <!-- Navbar end -->
                    <div class="navbar-end">
                        <!-- Signup button -->
                        <div class="navbar-item">
                            <a id="#signup-btn" href="{{url_for('auth.register')}}" class="button button-signup btn-outlined is-bold btn-align light-btn rounded raised">
                                Sign up
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Hero image -->
        <div id="main-hero" class="hero-body ">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-5 is-header-caption">
                        <h1 class="title main-title">
                            Do less. Get more.
                        </h1>
                        <h2 class="subtitle is-5 light-text">
                            Don't waste time managing  Clients, Teams or receiving Payments
                            Just get a brvcase, and run your firm Anywhere.
                        </h2>
                        <p class="buttons">
                            <a href="#features" class="button button-cta btn-align btn-outlined is-bold light-btn rounded z-index-2">
                                More Benefits
                            </a>
                            <a href="{{url_for('auth.register')}}" class="button button-cta btn-align btn-outlined is-bold light-btn rounded z-index-2">
                                Free Trial
                            </a>
                        </p>
                    </div>
                    <div class="column is-8 is-offset-1">
                        <figure class="image is-3by2 hero-figure is-pushed">
                        
                            <img class="has-light-shadow" src="{{ url_for('static', filename='img/graphics/apps/app-2-core.png') }}" data-base-url="assets/img/graphics/apps/app-2" data-extension=".png" alt="">
                        </figure>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Feature Matrix -->
    <div id="features" class="section is-medium">
        <div class="container has-text-centered">
            <!-- Title -->
            <div class="section-title-wrapper has-text-centered">
                <div class="bg-number">1</div>
                <h2 class="section-title-landing">
                    For every Firm, Startup and Agencies
                </h2>
                <h4>Discover the brvcase services</h4>
            </div>

            <div class="content-wrapper">
                <div class="columns is-vcentered has-text-centered">
                    <div class="column is-hidden-mobile"></div>
                    <!-- Animated Icon box -->
                    <div class="column is-3">
                        <div class="square-icon-box is-landing primary">
                            <div class="icon-box-wrapper">
                                <div class="icon-box">
                                    <i class="material-icons">work</i>
                                </div>
                            </div>
                            <div class="box-title">
                                brvcase Payments
                            </div>
                            <div class="box-text is-tablet-padded body-color">
                                Generate customise Invoices and receive periodic  payments, Track all clients statemets.
                            </div>
                        </div>
                    </div>
                    <!-- Animated Icon box -->
                    <div class="column is-3">
                        <div class="square-icon-box is-landing primary">
                            <div class="icon-box-wrapper">
                                <div class="icon-box">
                                    <i class="material-icons">assignment_turned_in</i>
                                </div>
                            </div>
                            <div class="box-title">
                                brvcase Expat
                            </div>
                            <div class="box-text is-tablet-padded body-color">
                                Manage immigration services, like onboarding of expatriates
                                 thier loves one; ensuring health status of immigration documents.
                            </div>
                        </div>
                    </div>
                    <!-- Animated Icon box -->
                    <div class="column is-3">
                        <div class="square-icon-box is-landing primary">
                            <div class="icon-box-wrapper">
                                <div class="icon-box">
                                    <i class="material-icons">chat_bubble</i>
                                </div>
                            </div>
                            <div class="box-title">
                                brcase Realio
                            </div>
                            <div class="box-text is-tablet-padded body-color">
                                For RealEstates and property management; allocate and track payments for 
                                realEstates Bids and Deals
                            </div>
                        </div>
                    </div>
                    <div class="column is-hidden-mobile"></div>
                </div>

                <div class="columns is-vcentered has-text-centered">
                    <div class="column is-hidden-mobile"></div>
                    <!-- Animated Icon box -->
                    <div class="column is-3">
                        <div class="square-icon-box is-landing primary">
                            <div class="icon-box-wrapper">
                                <div class="icon-box">
                                    <i class="material-icons">dashboard</i>
                                </div>
                            </div>
                            <div class="box-title">
                                Brief probby
                            </div>
                            <div class="box-text is-tablet-padded body-color">
                                Help clients write, store and manage important probate documents;
                                 thier will and probates matters
                            </div>
                        </div>
                    </div>
                    <!-- Animated Icon box -->
                    <div class="column is-3">
                        <div class="square-icon-box is-landing primary">
                            <div class="icon-box-wrapper">
                                <div class="icon-box">
                                    <i class="material-icons">https</i>
                                </div>
                            </div>
                            <div class="box-title">
                                brvcase selfie
                            </div>
                            <div class="box-text is-tablet-padded body-color">
                                brvcase ensure not only you and your 
                                clients is served, we made provisions 
                                for your third-party clients (clients-of-clients).
                            </div>
                        </div>
                    </div>
                    <!-- Animated Icon box -->
                    <div class="column is-3">
                        <div class="square-icon-box is-landing primary">
                            <div class="icon-box-wrapper">
                                <div class="icon-box">
                                    <i class="material-icons">cloud_done</i>
                                </div>
                            </div>
                            <div class="box-title">
                                brv ipro
                            </div>
                            <div class="box-text is-tablet-padded body-color">
                               Managing Intellectual property has never been easier. We help you track from Contract signing 
                               to every details of the contracts obligations.
                            </div>
                        </div>
                    </div>
                    <div class="column is-hidden-mobile"></div>
                </div>
                <div class="pb-20 pt-20 is-title-reveal">
                    <a href="{{url_for('auth.register')}}" class="button button-cta btn-align primary-btn rounded raised">Get
                        started</a>
                </div>
            </div>

        </div>
    </div>

    <!-- Feature -->
    <div class="section section-feature-grey">
        <div class="container">
            <div class="columns is-vcentered">
                <!-- With the help of responsive modifiers, the text column is duplicated to ensure better readability both on desktop and mobile viewports -->
                <div class="column is-4 is-offset-1 is-hidden-desktop is-hidden-tablet">
                    <div class="icon-subtitle"><i class="im im-icon-Calendar-4"></i></div>
                    <div class="title quick-feature is-handwritten text-bold">
                        <h2>Manage Briefs</h2>
                        <div class="bg-number">2</div>
                    </div>
                    <div class="title-divider is-small"></div>
                    <span class="body-text">We offer best cloud- solutions to manage clients briefs, cases and activity as they occur.
                    brvcase promise a smooth transitions of various services we offer accross board.</span>
                </div>

                <div class="column is-6 has-text-centered">

                    <img class="featured-svg" src="{{ url_for('static', filename='img/graphics/widgets/mini-widget-1-core.png') }}" data-base-url="assets/img/graphics/widgets/mini-widget-1" data-extension=".png" alt="">
                </div>

                <div class="column is-4 is-offset-1 is-hidden-mobile">
                    <div class="icon-subtitle"><i class="im im-icon-Calendar-4"></i></div>
                    <div class="title quick-feature is-handwritten text-bold">
                        <h2>Manage Birefs</h2>
                        <div class="bg-number">2</div>
                    </div>
                    <div class="title-divider is-small"></div>
                    <span class="body-text">We offer best cloud- solutions to manage clients briefs, cases and activity as they occur.
                    brvcase promise a smooth transitions of various services we offer accross board.</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Feature -->
    <div class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4 is-offset-1">
                    <div class="icon-subtitle"><i class="im im-icon-Upload-toCloud"></i></div>
                    <div class="title quick-feature is-handwritten text-bold">
                        <h2>Cloud Storage</h2>
                        <div class="bg-number">3</div>
                    </div>
                    <div class="title-divider is-small"></div>
                    <span class="body-text">With our cloud-storage Every clients receives a dedicated storage systems that is secure and accessible by every
                    Team in the organisations for storing of important documents</span>
                </div>

                <div class="column is-6 is-offset-1 has-text-centered">
                <img class="featured-svg" src="{{ url_for('static', filename='img/graphics/widgets/mini-widget-2-core.png') }}" data-base-url="assets/img/graphics/widgets/mini-widget-2" data-extension=".png" alt="">
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Feature -->
    <div class="section section-feature-grey">
        <div class="container">
            <div class="columns is-vcentered">

                <!-- With the help of responsive modifiers, the text column is duplicated to ensure better readability both on desktop and mobile viewports -->
                <div class="column is-4 is-offset-1 is-hidden-desktop is-hidden-tablet">
                    <div class="icon-subtitle"><i class="im im-icon-Security-Check"></i></div>
                    <div class="title quick-feature is-handwritten text-bold">
                        <h2>Secure content</h2>
                        <div class="bg-number">4</div>
                    </div>
                    <div class="title-divider is-small"></div>
                    <span class="body-text">We have Team of expert that help us provide best 
                    approach to security and data privacy which follows industry standards 
                    for electronic documentations and data encryption.</span>
                </div>

                <div class="column is-6 has-text-centered">
                <img class="featured-svg" src="{{ url_for('static', filename='img/graphics/widgets/mini-widget-3-core.png') }}" data-base-url="assets/img/graphics/widgets/mini-widget-3" data-extension=".png" alt="">

                </div>

                <div class="column is-4 is-offset-1 is-hidden-mobile">
                    <div class="icon-subtitle"><i class="im im-icon-Security-Check"></i></div>
                    <div class="title quick-feature is-handwritten text-bold">
                        <div>Secure content</div>
                        <div class="bg-number">4</div>
                    </div>
                    <div class="title-divider is-small"></div>
                    <span class="body-text">We have Team of expert that help us provide best 
                    approach to security and data privacy which follows industry standards 
                    for electronic documentations and data encryption..</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Feature -->
    <div class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4 is-offset-1">
                    <div class="icon-subtitle"><i class="im im-icon-Arrow-Refresh"></i></div>
                    <div class="title quick-feature is-handwritten text-bold">
                        <h2>Collaborate</h2>
                        <div class="bg-number">5</div>
                    </div>
                    <div class="title-divider is-small"></div>
                    <span class="body-text"> We offer one of the Best cloud-based solution that 
                    helps your firm, organizing cases and collaborating with clients and Teams
                    with brvcase, you can work anywhere.</span>
                </div>

                <div class="column is-6 is-offset-1 has-text-centered">
                <img class="featured-svg" src="{{ url_for('static', filename='img/graphics/widgets/mini-widget-4-core.png') }}" data-base-url="assets/img/graphics/widgets/mini-widget-4" data-extension=".png" alt="">
                    
                </div>
            </div>
            <div class="has-text-centered is-title-reveal pt-20 pb-20">
                <a href="{{url_for('auth.register')}}" class="button button-cta primary-btn rounded raised">Start your Free trial</a>
            </div>
        </div>
    </div>

    <!-- More features -->
    <div class="section is-medium is-relative section-feature-grey">
        <div class="container">
            <!-- Title -->
            <div class="section-title-wrapper has-text-centered">
                <div class="bg-number">6</div>
                <h2 class="section-title-landing">
                    Wait, there's more
                </h2>
                <h4>There are plenty of additionnal features to discover</h4>
            </div>

            <div class="content-wrapper">
                <div class="columns is-vcentered">
                    <div class="column is-4 has-text-centered">
                        <h3 class="is-3 small-feature">Live search</h3>
                        <p class="mb-20 is-tablet-padded body-color">Search for clients data, history and activities as 
                        they are happening</p>
                        <div class="feature-sm">
                            <img class="is-card-reveal" src="{{ url_for('static', filename='img/graphics/widgets/mini-widget-6-core.png') }}"  data-extension=".png" alt="">

                        </div>
                    </div>
                    <div class="column is-4 has-text-centered">
                        <h3 class="is-3 small-feature">Activity reports</h3>
                        <p class="mb-20 is-tablet-padded body-color">Generate periodic statutory reports with data and clients activities</p>
                        <div class="feature-sm">
                            <img class="is-card-reveal" src="{{ url_for('static', filename='img/graphics/widgets/mini-widget-5-core.png') }}"  data-extension=".png" alt="">

                        </div>
                    </div>
                    <div class="column is-4 has-text-centered">
                        <h3 class="is-3 small-feature">Statistic Dashboard</h3>
                        <p class="mb-20 is-tablet-padded body-color">Our Dashboard helps you valuable and meaningful data that helps call for actions.</p>
                        <div class="feature-sm">
                            <img class="is-card-reveal" src="{{ url_for('static', filename='img/graphics/widgets/mini-widget-7.png') }}"  data-extension=".png" alt="">

                        </div>
                    </div>
                </div>
                <div class="has-text-centered pt-20 pb-20">
                    <a href="kit1-signup.html" class="button button-cta btn-align primary-btn rounded raised">Start a Free
                        Trial</a>
                </div>
            </div>
        </div>
    </div>


   
    <!-- Clients grid -->
    <div id="trust" class="section section-feature-grey is-medium">
        <div class="container">
            <!-- Title -->
            <div class="section-title-wrapper">
                <div class="bg-number"><i class="material-icons">domain</i></div>
                <h2 class="section-title-landing has-text-centered dark-text"> We build Trust.</h2>
                <h4 class="has-text-centered">More than <b>900 Teams</b> use our product.</h4>
            </div>

            <div class="content-wrapper">
                <!-- Grid -->
                <div class="grid-clients five-grid">
                    <div class="columns is-vcentered">
                        <div class="column"></div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/gutwork.svg') }}" alt=""></a>
                        </div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/phasekit.svg') }}" alt=""></a>
                        </div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/grubspot.svg') }}" alt=""></a>
                        </div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/taskbot.svg') }}" alt=""></a>
                        </div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/systek.svg') }}" alt=""></a>
                        </div>
                        <div class="column"></div>
                    </div>
                    <div class="columns is-vcentered is-separator">
                        <div class="column"></div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/infinite.svg') }}" alt=""></a>
                        </div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/tribe.svg') }}" alt=""></a>
                        </div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/powerball.svg') }}" alt=""></a>
                        </div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/kromo.svg') }}" alt=""></a>
                        </div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/covenant.svg') }}" alt=""></a>
                        </div>
                        <div class="column"></div>
                    </div>
                    <div class="columns is-vcentered is-separator">
                        <div class="column"></div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/bitbreaker.svg') }}" alt=""></a>
                        </div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/evently.svg') }}" alt=""></a>
                        </div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/proactive.svg') }}" alt=""></a>
                        </div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/transfuseio.svg') }}" alt=""></a>
                        </div>
                        <!-- Client -->
                        <div class="column">
                            <a><img class="client" src="{{ url_for('static', filename='img/logos/custom/livetalk.svg') }}" alt=""></a>
                        </div>
                        <div class="column"></div>
                    </div>
                </div>
                <!-- CTA -->
                <div class="has-text-centered pt-40 pb-40">
                    <a href="kit1-pricing.html" class="button button-cta btn-align primary-btn raised rounded">Get started
                        Now</a>
                </div>
                <!-- /CTA -->
            </div>
        </div>
    </div>
    <!-- Clients -->

    <!-- Contact form -->
    <div class="section is-medium is-relative has-waves-bottom-dark section-feature-grey">
        <div class="container">
            <!-- Title -->
            <div class="section-title-wrapper has-text-centered">
                <div class="bg-number">6</div>
                <h2 class="section-title-landing">
                    Start your Free trial
                </h2>
                <h4>Dont struggle anymore to manage tasks. Everything is easy to setup</h4>
            </div>

            <div class="content-wrapper giant-pb">
                <form>
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            <div class="columns is-vcentered">
                                <div class="column is-3">
                                    <!-- Form field -->
                                    <div class="control-material is-primary">
                                        <input class="material-input" 
                                        name = "name"
                                        type="text" required="">
                                        <span class="material-highlight"></span>
                                        <span class="bar"></span>
                                        <label>Name *</label>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <!-- Form field -->
                                    <div class="control-material is-primary">
                                        <input class="material-input" type="text" 
                                        name = "email"
                                        required="">
                                        <span class="material-highlight"></span>
                                        <span class="bar"></span>
                                        <label>Email *</label>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <!-- Form field -->
                                    <div class="control-material is-primary">
                                        <input class="material-input" type="text" 
                                        name = "company"
                                        required="">
                                        <span class="material-highlight"></span>
                                        <span class="bar"></span>
                                        <label>Company *</label>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <button type="submit" class="button button-cta btn-align primary-btn btn-outlined is-bold rounded raised no-lh">Sign
                                        me up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Dark footer -->
    <footer id="dark-footer" class="footer footer-dark">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="footer-column">
                        <div class="footer-header">
                            <h3>Product</h3>
                        </div>
                        <ul class="link-list">
                            <li><a href="{{url_for('auth.register')}}">Free trials and demo</a></li>
                            <li><a href="#">What's next ?</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="footer-column">
                        <div class="footer-header">
                            <h3>Company</h3>
                        </div>
                        <ul class="link-list">

                            <li><a href="#">Terms of website use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="footer-column">
                        <div class="footer-header">
                            <h3>Learning</h3>
                        </div>
                        <ul class="link-list">

                            <li><a href="#">API documentation</a></li>
                            <li><a href="#">Admin Guide</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="footer-column">
                        <div class="footer-logo">
                            <img class="switcher-logo-w" src="assets\img\logos\logo\bulkit-core-w.svg" alt="">
                        </div>
                        <div class="footer-header">
                            <nav class="level is-mobile">
                                <div class="level-left level-social">
                                    <a href="https://facebook.com/brvcase" class="level-item">
                                        <span class="icon"><i class="fa fa-facebook"></i></span>
                                    </a>
                                    <a href="https://twitter.com/brvcase" class="level-item">
                                        <span class="icon"><i class="fa fa-twitter"></i></span>
                                    </a>
                                    <a href="#" class="level-item">
                                        <span class="icon"><i class="fa fa-linkedin"></i></span>
                                    </a>
                                    <a href="#" class="level-item">
                                        <span class="icon"><i class="fa fa-dribbble"></i></span>
                                    </a>
                                    <a href="#" class="level-item">
                                        <span class="icon"><i class="fa fa-github"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                        <div class="copyright">
                            <span class="moto light-text">Designed and coded with <i class="fa fa-heart color-red"></i> by brvcase.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Dark footer -->


    <script src="{{ url_for('static', filename='js/app_home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/core_home.js') }}"></script>
</body>

</html>