
{% extends "base.html" %}

{% block title %}Quota{% endblock %}
{% block body %}
<style> 
.format{                        
background-color: #faccc5d8;
}
.card{
    background-color: #fdbf95ab
}
</style>
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">Quota Form</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Official</a></li>
                        <li class="breadcrumb-item active">Admin Only Form</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        {% from "macros.html" import render_field %}
        {% import "bootstrap/utils.html" as utils %}
		{% import "bootstrap/wtf.html" as wtf %}
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-0">
                 
                    {{ utils.flashed_messages() }}
                    <!-- The beginning of quota Form-->
                    <div class="card-body">
                         <form action="" method="post" enctype="multipart/form-data" class="form" role="form">
                            {{ form.csrf_token() }}
                            <div class="row">
                                <div class="col-xl-6 card">

                                    <div class="form-group row">
                                        <div class="col-lg-9">
                                            {{ wtf.form_field(form.company, class='form-control' )}}
                                          
                                        </div>
                                    </div>

                                      <div class="form-group row">
                                        <div class="col-lg-9">
                                            {{ wtf.form_field(form.quota_reference, class='form-control' )}}
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <div class="col-lg-9">
                                            {{ wtf.form_field(form.no_of_positions, class='form-control', )}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-9">
                                        {{ wtf.form_field(form.token_serial, class='form-control', )}}
                                </div>
                           
                            </div> 
                            
                                 </div>
                                <div class="col-xl-6">
                                    <div class="row">
                                           <div class="col-lg-9">
                                                        <div class="form-group row">
                                                            {{ wtf.form_field(form.effective_date, class='form-control' )}}
                                                            </div>
                                     
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-9">
                                            {{ wtf.form_field(form.quota_exp_date, class='form-control', )}}
                                    </div>
                                </div>

                                <div class="form-group row ">
                                    <div class="col-lg-9  format" >
                                        {{ wtf.form_field(form.quota_upload, class='form-control', )}}
                                </div>
                            </div>

                              
                                                 
                    </div>
                             </div>

                            <div class="text-right form-group">
                                <button type="submit" class="btn btn-primary">Add Quota</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    </div>			
</div>
<!-- /Main Wrapper -->

</div>
<!-- /Main Wrapper -->


{% endblock %}