







<p>Dear {{ user.username }},</p>

{%if current_user.invitee == 1%}
<p>
 you have been invited by 
 {{current_user.first_name}} 
to Join {{current_user.chamber.company}} 
as 
{{user.role.name}}

Click <a href="{{ url_for('auth.set_password', token=token, _external=True) }}">
here accept invite
</a>.
</p>

</p>
{% else %}
<p>
Welcome to brvcase!  To begin your journey please
    <a href="{{ url_for('auth.set_password', token=token, _external=True) }}">
        click here
    </a>.
</p>
{% endif %}
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.set_password', token=token, _external=True) }}</p>


<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>The brvcase Team</p>   


