{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
        {% if data is defined %}
        <p>Received data: {{ data }}</p>
    {% endif %}
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-9">
                    <h3 class="page-title">Quota Positions</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="{{ url_for('admin.add_quota_position') }}">Go Back </a><i class="fa fa-thumbs-up"></i> </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
  
        <div class="row">
           
        <div class="col-md-6">
            {# Show token_serial #}
            {% for token_serial in token_serials %}
                <p><a href="{{ url_for('admin.show_quota_position', token_serial_id=token_serial.id) }}"> {{token_serial.id}} Quota Position Serial:  {{ token_serial.serial_no  }}</a></p>
            {% endfor %}
    
    
            {% if not token_serial %}n
                <p>Could not fid Quota position  details</p>
            {% else %}
                <div class="card recent-activity">
                    
                    <div class="card-body">
                         
                        <h5 class="card-title ">DISPLAY QUOTA POSITION FOR: <i class=" btn btn-white btn-sm btn-rounded"> {{ token_serial.serial_no }} </i> </h5>
                                                                  
                        <ul class="res-activity-list">
                            {% for lap in token_serial.laps %}
                              <li>  
                                <h2 class="card-title"><p> {{ lap.id }}</p>{{ lap.runner_name }} </h2> 
                             </li>
                            {% endfor%}
                        </ul>
                                                                

                    </div>
                    {% endif %}       </div>
            </div>

  
         <!--   
            <div class="col-md-3">
                <div class="card punch-status">
                    <div class="card-body">
                        <h5 class="card-title">Timesheet <small class="text-muted">11 Mar 2019</small></h5>
                        <div class="punch-det">
                            <h6>Punch In at</h6>
                            <p>Wed, 11th Mar 2019 10.00 AM</p>
                        </div>
                        <div class="punch-info">
                            <div class="punch-hours">
                                <span>3.45 hrs</span>
                            </div>
                        </div>
                        <div class="punch-btn-section">
                            <button type="button" class="btn btn-primary punch-btn">Punch Out</button>
                        </div>
                        <div class="statistics">
                            <div class="row">
                                <div class="col-md-6 col-6 text-center">
                                    <div class="stats-box">
                                        <p>Break</p>
                                        <h6>1.21 hrs</h6>
                                    </div>
                                </div>
                                <div class="col-md-6 col-6 text-center">
                                    <div class="stats-box">
                                        <p>Overtime</p>
                                        <h6>3 hrs</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
-->
 
            
        </div>

      </div>
<!-- Page Wrapper -->

</div>
<!-- /Main Wrapper -->




{# templates/show.html #}
<html>
    <head>
        <title>Quota position details</title>

    </head>
    <body>
        <a href="">Back to index</a>

        {# Show submitted data #}
        


        
           
    </body>
</html>

{% endblock %}