<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

<title>brvcase</title>
<!-- Favicon -->
<link
rel="shortcut icon"
type="image/x-icon"
href="{{ url_for('static', filename='img/favicon.png') }}"
/>

<!-- Bootstrap CSS -->
{% assets "main_styles" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
</head>
<body>
<!-- Main Wrapper -->
<div class="main-wrapper">
<!-- Header -->
<div class="header">
<!-- Logo -->
<div class="header-left">
  <a href="{{url_for('home.homepage')}}" class="logo">
    <img
      src="{{ url_for('static', filename='img/logo.png') }}"
      width="40"
      height="40"
      alt=""
    />
  </a>
</div>
<!-- /Logo -->

<a id="toggle_btn" href="javascript:void(0);">
  <span class="bar-icon">
    <span></span>
    <span></span>
    <span></span>
  </span>
</a>

<!-- Header Title -->
<div class="page-title-box">
  <h3> Brvcase </h3> 
</div>
<!-- /Header Title -->

<a id="mobile_btn" class="mobile_btn" href="#sidebar"
  ><i class="fa fa-bars"></i
></a>

<!-- Header Menu -->
<ul class="nav user-menu">
  <!-- Search -->
  <li class="nav-item">
    <div class="top-nav-search">
      <a href="javascript:void(0);" class="responsive-search">
        <i class="fa fa-search"></i>
      </a>
      <form action="search.html">
        <input
          class="form-control"
          type="text"
          placeholder="Search here"
        />
        <button class="btn" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </li>
  <!-- /Search -->

  <!-- Notifications -->
  <li class="nav-item dropdown">
    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
      <i class="fa fa-bell-o"></i>
      <span class="badge badge-pill">3</span>
    </a>
    <div class="dropdown-menu notifications">
      <div class="topnav-dropdown-header">
        <span class="notification-title">Notifications</span>
        <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
      </div>
      <div class="noti-content">
        <ul class="notification-list">
          <li class="notification-message">
            <a href="#">
              <div class="media">
                <span class="avatar">
                  <img alt="" src="{{ image_file }}" />
                </span>
                <div class="media-body">
                  <p class="noti-details">
                    <span class="noti-title">John Doe</span> added new
                    task
                    <span class="noti-title"
                      >Patient appointment booking</span
                    >
                  </p>
                  <p class="noti-time">
                    <span class="notification-time">4 mins ago</span>
                  </p>
                </div>

                <div></div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="topnav-dropdown-footer">
        <a href="activities.html">View all Notifications</a>
      </div>
    </div>
  </li>
  <!-- /Notifications -->

  <!-- Message Notifications -->

  <div class="dropdown-menu notifications"></div>

  <!-- /Message Notifications -->

  <li class="nav-item dropdown has-arrow main-drop">
    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
      <span class="user-img"
        ><img src="{{ image_file }}" alt="" />
        <span class="status online"></span
      ></span>
      <span> hey! {{current_user.username }}</span>
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ url_for('auth.account') }}"
        >My Profile</a
      >
      <a class="dropdown-item" href="{{ url_for('auth.account') }}"
        >Settings</a
      >
      <a class="dropdown-item" href="{{ url_for('auth.logout') }}"
        >Logout</a
      >
    </div>
  </li>
</ul>
<!-- /Header Menu -->

<!-- Mobile Menu -->
<div class="dropdown mobile-user-menu">
  <a
    href="#"
    class="nav-link dropdown-toggle"
    data-toggle="dropdown"
    aria-expanded="false"
    ><i class="fa fa-ellipsis-v"></i
  ></a>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="{{ url_for('auth.account') }}">My Profile</a>
    <a class="dropdown-item" href="{{ url_for('auth.account') }}">Settings</a>
    <a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a>
  </div>
</div>
<!-- /Mobile Menu -->
</div>
<!-- /Header -->

{% if current_user.active == True%}
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
  <div id="sidebar-menu" class="sidebar-menu">
    <ul>
      <li>
        <a href="{{ url_for('home.admin_dashboard') }}"
          ><i class="la la-dashboard"></i> <span>Dashboard</span>
          <span class="menu-arrow"></span
        ></a>
      </li>
      <li class="submenu">
								<a href="#"><i class="la la-cube"></i> <span> Apps</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
	
									<li><a class="active" href="{{ url_for('events.calendar') }}">Calendar</a></li>
									<li><a href="{{url_for('message.contact')}}">Contacts</a></li>
									<li><a href="{{url_for('message.inbox')}}">Email</a></li>
									<li><a href="{{ url_for('admin.list_folders') }}">File Manager</a></li>
								</ul>
							</li>
    
    <li class="submenu">
        <a href="#"
          ><i class="fa fa-address-book-o"></i> <span> Clients </span>
          <span class="menu-arrow"></span
        ></a>
        <ul style="display: none">
                            <li>
            <a href="{{ url_for('admin.add_company') }}"
              ><span> Add New Clients</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('admin.list_company_settings') }}"
              ><span>Clients Accounts</span></a
            >
          </li>
                    <li>
            <a href="{{ url_for('admin.list_companies') }}">
              <span> View clients </span></a
            >
          </li>
                    <li>
            <a href="{{ url_for('admin.list_company_resigned') }}">
              <span> Retired clients </span></a
            >
          </li>
          
        </ul>
      </li>
    {%if current_user.chamber.is_immigration == 1 
    or current_user.role.permissions == 31 %}
    <li class="submenu">
        <a href="#"
          ><i class="fa fa-users"></i> <span> Immigration </span>
          <span class="menu-arrow"></span
        ></a>
        <ul style="display: none">
<li>
            <a href="{{ url_for('admin.list_expatriates') }}"
              ><span> Add Expatriates</span></a
            >
          </li>
              <li>
            <a href="{{ url_for('admin.list_client_settings') }}"
              ><span>Expat Settings</span></a
            >
          </li>
         
<li>
            <a href="{{ url_for('admin.list_employees_resigned') }}"
              ><span> Resigned / retired </span></a
            >
          </li>        
            
          
        
        </ul>
      </li>

      <li class="submenu">
        <a href="#"
          ><i class="fa fa-building-o"></i> <span> Quota Management</span>
          <span class="menu-arrow"></span
        ></a>
        <ul style="display: none">

          

          <li>
            <a href="{{ url_for('admin.list_companies_quota') }}">
              <span> Companies / Quota </span></a
            >
          </li>

                            <li>
            <a href="{{ url_for('admin.list_quotas') }}">
              <span> view/assign Positions </span></a
            >
          </li>

          <li>
            <a href="{{ url_for('admin.list_quotas') }}"
              ><span>Renew Quotas</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('admin.companies_report') }}"
              ><span> Status Report</span></a
            >
          </li>
        </ul>
      </li>

      

      <li class="submenu">
        <a href="#"
          ><i class="la la-pie-chart"></i>
          <span> Cerpac Reports </span>
          <span class="menu-arrow"></span
        ></a>
        <ul style="display: none">
          <li>
            <a href="{{ url_for('admin.employees_report') }}">
              <span> Global Report</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('admin.list_passports') }}"
              ><span> All Passports</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('admin.list_cerpacs') }}">
              <span> All Cerpacs </span></a
            >
          </li>
          <li>
            <a href="{{ url_for('admin.list_emergencies') }}">
              <span> All Emergencies</span></a
            >
          </li>
        </ul>
      </li>

      

      <li class="submenu">
        <a href="#"
          ><i class="la la-rocket"></i> <span> Admin Task</span>
          <span class="menu-arrow"></span
        ></a>

        <ul style="display: none">
          <li>
            <a href="{{ url_for('admin.status_report') }}"
              ><i class="la la-cube"></i> <span> Reports</span></a
            >
          </li>
    </ul>

      <li class="submenu">
        <a href="#"
          ><i class="la la-tasks"></i> <span> Approver Task</span>
          <span class="menu-arrow"></span
        ></a>

        <ul style="display: none">
          <li>
            <a href="{{ url_for('admin.list_quotas_pending') }}" >
            <i class="la la-coffee"> </i>
              <span> Pending Quotas</span></a>
          </li>

          <li>
            <a href="{{ url_for('admin.list_quotas_approved') }}">
            <i class="la la-coffee"></i>
              <span> Approved Quotas</span></a
            >
          </li>
        </ul>
      </li>

      <li class="submenu">
        <a href="#"
          ><i class="la la-folder-open"></i> <span> Cabinet </span>
          <span class="menu-arrow"></span
        ></a>

        <ul style="display: none">
          <li>
            <a href="{{ url_for('admin.list_folders') }}" >
            <i class="la la-folder"></i>
              <span> File Manager</span></a>
          </li>
          <li>
            <a href="#"
              ><i class="la la-search-plus"></i>
              <span> Search Files</span></a
            >
          </li>
        </ul>
      </li>

      {%else%} {%endif%}
{%if current_user.chamber.is_Billings == 1 or current_user.role.permissions == 31 %}
      <li class="submenu">
        <a href="#"
          ><i class="fa fa-credit-card"> </i>
          <span> Billings & Payments </span>
          <span class="menu-arrow"></span
        ></a>

        <ul style="display: none">
          <li>
            <a href="{{ url_for('payments.estimates') }}"
              ><i class="la la-folder-open"></i>
              <span> Estimates</span></a>
          </li>

          <li>
            <a href="{{ url_for('payments.payment_report') }}"
              ><i class="la la-file"></i>
              <span> Payment Report</span></a
            >
          </li>

          <li>
            <a href="#"
              ><i class="la la-money"></i> <span> Invoices</span></a
            >
          </li>

          <li>
            <a href="{{ url_for('payments.taxes_settings') }}"
              ><i class="la la-building"></i>
              <span> Taxes and Deductions</span></a
            >
          </li>
        </ul>
      </li>
{% else%} {% endif %}
{%if current_user.chamber.is_realestate == 1 or current_user.role.permissions == 31 %}
      <li class="submenu">
        <a href="#"
          ><i class="la la-building-o"></i>
          <span> Real Estates </span>
          <span class="menu-arrow"></span
        ></a>

        <ul style="display: none">
        
          <li>
            <a href="{{ url_for('realestates.list_clients') }}"
              > <span> realestate clients</span></a
            >
          </li>
  

          <li>
            <a href="{{ url_for('payments.invoice_report') }}"
              >
              <span> view Transactions </span></a
            >
          </li>
          <li>
            <a href="{{ url_for('payments.payment_report') }}"
              >
              <span>Property Transactions</span></a
            >
          </li>

          <li>
            <a href="{{ url_for('payments.taxes_settings') }}"
              >
              <span> Property Reports</span></a
            >
          </li>
        </ul>
      </li>
{% else %} {% endif %}
{%if current_user.chamber.is_probate == 1 or current_user.role.permissions == 31 %}
      <li class="submenu">
        <a href="#"
          ><i class="la la-users "></i>
          <span> Probate Account </span>
          <span class="menu-arrow"></span
        ></a>

        <ul style="display: none">
        
          <li>
            <a href="{{ url_for('probate.list_clients') }}"
              > <span> probate clients</span></a
            >
          </li>
          <li>
            <a href="#"
              > <span> Add will</span></a
            >
          </li>

          <li>
            <a href="{{ url_for('payments.invoice_report') }}"
              >
              <span> probate report </span></a
            >
          </li>
          <li>
            <a href="{{ url_for('payments.payment_report') }}"
              >
              <span>Folders Storage</span></a
            >
          </li>

          <li>
            <a href="{{ url_for('payments.taxes_settings') }}"
              >
              <span> Probate Reports</span></a
            >
          </li>
        </ul>
      </li>
{% else %} {% endif %}
{%if current_user.chamber.is_services == 1  or current_user.role.permissions == 31 %}
      <li class="submenu">
        <a href="#"
          ><i class="fa fa-diamond"></i>
          <span> Self Service </span>
          <span class="menu-arrow"></span
        ></a>

        <ul style="display: none">
                          <li>
            <a href="{{ url_for('selfservice.list_clients') }}"
              > <span> Clients </span></a
            >
          </li>
        
          <li>
            <a href="{{ url_for('realestates.list_clients') }}"
              > <span> My Folders</span></a
            >
          </li>
          <li>
            <a href="#"
              > <span> Add contracts</span></a
            >
          </li>

          <li>
            <a href="{{ url_for('payments.invoice_report') }}"
              >
              <span> Sign Documents </span></a
            >
          </li>
          <li>
            <a href="{{ url_for('payments.payment_report') }}"
              >
              <span>Folders Storage</span></a
            >
          </li>

          <li>
            <a href="{{ url_for('payments.taxes_settings') }}"
              >
              <span> Payments & Invoice </span></a
            >
          </li>
        </ul>
      </li>
{% else %} {% endif %}

{%if current_user.chamber.is_Iproperty == 1  or current_user.role.permissions == 31 %}
      <li class="submenu">
        <a href="#"
          ><i class="fa fa-eye"></i>
          <span> Intellectual Property </span>
          <span class="menu-arrow"></span
        ></a>

        <ul style="display: none">
        
          <li>
            <a href="{{ url_for('iproperty.list_clients') }}"
              > <span> I-property clients</span></a
            >
          </li>
          <li>
            <a href="#"
              > <span> Add property</span></a
            >
          </li>

          <li>
            <a href="{{ url_for('payments.invoice_report') }}"
              >
              <span> I-property report </span></a
            >
          </li>
          <li>
            <a href="{{ url_for('payments.payment_report') }}"
              >
              <span>Folders Storage</span></a
            >
          </li>

        
        </ul>
      </li>
{% else %} {% endif %}

{% if current_user.role.permissions == 31 %}

      <li class="submenu">
        <a href="#"
        
          >    <i class="la la-globe"></i>
          <span> Global Settings </span>
        
          <span class="menu-arrow"></span
        ></a>
        <ul style="display: none">
          
          <li>
            <a href="{{ url_for('settings.list_users') }}"
              ><i class="la la-user-plus"></i>
              <span> User settings</span></a
            >
          </li>
          <li >
            <a href="{{ url_for('settings.company_settings') }}"
              ><i class="la la-building"></i>
              <span> Company settings</span>
                          
          <li>
            <a href="{{ url_for('settings.list_chambers') }}">
            <i class="la la-eye"></i>
            <span> view companies</span></a>
          </li>
        
          </li>
          <li>
            <a href="{{ url_for('settings.brand') }}"
              ><i class="la la-photo"></i>
              <span> Logo settings</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('settings.localization') }}"
              ><i class="la la-clock-o"></i>
              <span>Localization</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('settings.roles_settings') }}"
              ><i class="la la-key"></i>
              <span>Users and Priviledges</span></a
            >
          <li>
            <a href="{{ url_for('settings.role_permissions') }}"
              ><i class="la la-key"></i>
              <span>Roles and Permission</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('settings.change_password') }}"
              ><i class="la la-lock"></i>
              <span>Change Password</span></a>
          </li>       
          {% else %} {% endif %}
                          </ul>
                          </li>

<!-- This is a section for self-service clients they can login to initiate and download-->> 

      
      </li>
    </ul>
  </div>
</div>
</div>
<!-- /Sidebar -->
{% endif %}

<!-- Content Starts -->
{% block body %} 

{% endblock %}
<!-- /Content End -->

<!-- /Page Content -->

<!-- /Page Wrapper -->
</div>
<!-- /Main Wrapper -->

<!-- jQuery -->

<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<!-- Bootstrap Core JS -->
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Slimscroll JS -->
<script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<!-- Flask mome.js for Date display for all location -->
<!-- Select2 JS -->
<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>

<!-- Datatable JS -->
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')  }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
<!-- Summernote JS -->
<script src="{{ url_for('static', filename='js/plugins/summernote/dist/summernote-bs4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/task.js') }}"></script>



{% block scripts %} {{ moment.include_moment() }} {% endblock %}
</body>
</html>
