
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div class="sidebar-menu">
						<ul>
							<li> 
								<a href="{{url_for('home.admin_dashboard')}}"><i class="la la-home"></i> <span>Back to Dashboard</span></a>
							</li>
							<li> 
								<a href="{{url_for('message.inbox')}}"><i class="fa fa-envelope text-success mail-label"></i> Inbox</a>
							</li>
							<li> 
								<a href="{{url_for('message.stared')}}"><i class="fa fa-star starred text-warning mail-label"></i> Starred</a>
							</li>
							<li> 
								<a href="{{ url_for('message.sent_emails') }}"><i class="fa fa-paper-plane text-grey mail-label"></i> Sent Mail</a>
							</li>
							<li> 
								<a href="{{url_for('message.trashed')}}"><i class="fa fa-trash text-danger mail-label"></i> Trash</a>
							</li>


						</ul>
					</div>
                </div>
            </div>